@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.shop-background {
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.tagline {
  color: white;
  font-family: "Poppins";
  font-size: 1.6rem;
  margin-right: 40px;
}

.item-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  filter: drop-shadow(10px 10px 2px rgba(0, 0, 0, 0.5));
  background-color: #6978cc;
  border-radius: 20px;
}

.image-title {
  position: relative;
}

.image-title img {
  border-radius: 20px;
}

.image-title span {
  position: absolute;
  bottom: 20px;
  left: 20px;

  color: #00195f;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 0 0 4px white;
}

.price-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
}

.price-cart span {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

.add-to-cart {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #e8e1f3;
  color: white;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 400;
  transition: color 200ms, background-color 200ms, padding 200ms;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.5));
  position: relative;
}

.add-to-cart:hover {
  background-color: #5700e2;
  padding: 10px 40px;
}

.add-to-cart:active {
  background-color: #5700e2;
  color: black;
  top: 4px;
  left: 2px;
  filter: none;
}

#cart-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000d2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.cart-box {
  position: relative;
  width: 700px;
  height: 800px;
  background-color: #2d283d;
  border-radius: 20px;
}

.cart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #6978cc;
  border-radius: 20px 20px 0 0;
  width: 100%;
  padding: 20px 40px;
}

.cart-header span {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

#close-cart {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  color: white;
  font-size: 1.3rem;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.5));
  position: relative;

}

/* #close-cart:hover {
  background-color: #ffc8c8;
} */

#close-cart:active {
  top: 4px;
  left: 2px;
  filter: none;
}

#cart-item-container {
  width: 100%;
  height: 600px;
  overflow: auto;
  padding: 20px 40px;
}

.cart-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 20px 40px;
}

.cart-footer>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.total-harga {
  font-weight: 300;
  font-size: 2rem;
}

.cart-footer button {
  padding: 20px 40px;
  background-color: #5700e2;
  border-radius: 40px;
  font-weight: bold;
  transition: color 200ms, background-color 200ms, padding 200ms;
}

.cart-footer button:hover {
  background-color: #3b009b;
  padding: 20px 80px;
}

.cart-footer button:active {
  background-color: #873cff;
}

.item-box2 {
  background-color: #15003657;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-bottom: 20px;
}

.item-box2 img {
  width: 200px;
  border-radius: 20px 0 0 20px;
}

.title-price-delete {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 20px;
  width: 100%;
}

.title-price-delete>span {
  font-size: 1.8rem;
  font-weight: 400;
}

.price-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price-delete span {
  font-size: 1.4rem;
  font-weight: bolder;
}

.delete-from-cart img {
  width: 40px;
}

#popup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000d2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.popup-box {
  position: relative;
  width: 700px;
  height: 180px;
  background-color: #6978cc;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box span {
  color: white;
  font-family: "Yellowtail", cursive;
  letter-spacing: 4px;
  font-size: 2.6rem;
  font-weight: 400;
}

/* Settings Styling ================================== */

#settings {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: #b4bfff;
  border-radius: 50%;
  transition: transform 300ms;
}

#settings:hover {
  background-color: #92a2ff;
  transform: rotate(180deg);
}

#settings:active {
  background-color: #7b8fff;
}

.settings-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000d2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.settings-box {
  background-color: #dbc8ff;
  border-radius: 20px;
  width: 1000px;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.settings-header {
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-color: #A685E2;
  padding: 20px 40px;
  color: white;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-btn {
  padding: 4px 20px;
  margin-right: 20px;
  background-color: #6155A6;
  border-radius: 14px;
  font-size: 1.2rem;
  font-weight: lighter;
}

.settings-btn:hover {
  background-color: #847daa;
}

.settings-btn:active {
  background-color: #4f3fa8;
}

#close-settings {
  border: none;
  border-radius: 50%;
  background-color: #ff3e3e;
  color: white;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
}

#close-settings:hover {
  background-color: #ff8282;
}

#close-settings:active {
  background-color: #ff1b1b;
}

#add-new-item {
  position: absolute;
  bottom: 20px;
  right: 40px;
  border: none;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-color: #6155A6;
  color: white;
  font-size: 2rem;
  transition: background-color 300ms, transform 300ms;
}

#add-new-item:hover {
  background-color: #847daa;
  transform: rotate(180deg);
}

#add-new-item:active {
  background-color: #4f3fa8;
}

#settings-container {
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
}

.settings-delete-btn {
  border: none;
  border-radius: 50%;
  background-color: #ff3e3e;
  color: white;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
}

.settings-delete-btn:hover {
  background-color: #ff8282;
}

.settings-delete-btn:active {
  background-color: #ff1b1b;
}

.settings-item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.settings-item-box input {
  height: 40px;
  width: 300px;
  border: 2px solid #A685E2;
  background-color: #ffffffb2;
}

.settings-item-box input[type=number] {
  width: 100px;
}


.designcart {
  /* background-color: thistle; */
  font-size: 30px;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.5));
  position: relative;
  border-radius: 15px;
}

.designcart:hover {
  background-color: blueviolet;
  font-size: 30px;
}


.designcart:active {
  /* background-color: thistle; */

  top: 2px;
  left: 2px;
  filter: none;
}

/* ======================================================== */